# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# normally this is checked in but not for sample repos	
.terraform.lock.hcl

# local files
**/app-*/

# Crash log files
crash.log

# Exclude .terraform directories
**/.terraform/*

# Ignore any .tfplan files
*.tfplan

# Exclude CLI configuration files
cli.tfrc*

